@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/content/content.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/places/places.css");
@import url("../blocks/card/card.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_is-animated/popup_is-animated.css");
@import url("../blocks/popup/_is-opened/popup_is-opened.css");

.profile-error {
  color: red;
  margin-bottom: 2px;
  font-size: 12px;
}

.input-error {
  border-bottom-color: red;
}

.non-active-button {
  background-color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

.profile__image {
  background-image: url("../images/avatar.jpg");
}
